*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# This file contains the UNSPLASH_APP_ID for the sample app:
sample/gradle.properties
.idea/markdown-navigator*
